RewriteEngine On
DirectoryIndex index.php

RewriteCond %{REQUEST_URI} ^/admin/?$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^admin/?$ admin/index.php [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^.]+)$ $1.php [L]

<FilesMatch "\.(db|sql)$">
    Order allow,deny
    Deny from all
</FilesMatch>